<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dad Joke Api</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>{{joke}}</h1>
        <div class="buttons">
            <a href="" class="button1">New Joke</a>
            <a href="{{url_for('api')}}" class="button1">API</a>
        </div>
        
        <div>
            <footer>
                Made by Maciej Ostrowski. Make sure to check out my <a href="https://github.com/maaaaciej"target="_blank">GitHub</a>!
            </footer>

        </div>
    </body>
</html>